/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1C4EB1;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #fff;
    height: 100vh;
}

input, button {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

/* HEADER */

header#main-header{
    display: flex;
    justify-content: space-between;
    height: 192px;
    margin-bottom: 45px;

    color: #F5F5F5;
}

header#main-header nav ul{
    display: flex;
    flex-wrap: wrap;
}

header#main-header nav ul li{
    font-size: 24px;
    font-weight: bold;
    /*TIRAR MARGIN RIGHT EM MOBILE DEVICES*/
    margin-right: 70px;
    margin-top: 47px;
}

/* DOWNLOAD */

div#download{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 20px;
}

div#download .call-to-action{
    max-width: 635px;
    font-size: 36px;
    font-weight: bold;
}

.link-button{
    display: block;

    color: #F1AA50;
    border: 2px solid #F1AA50;
    border-radius: 45px;

    max-width: 400px;
    padding: 10px;
    margin: 50px 0;

    text-align: center;
}

/* FEATURES SCREENSHOTS */

div#features{
    min-height: 1024px;
    display: flex;

    align-items: center;
    justify-content: center;

    color: #F9F9F9;
}

div#features ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

div#features ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#features ul li p{
    width: 150px;

    font-weight: bold;
    font-size: 18px;
    text-align: center;

    margin: 15px 0;
}

/* CONTACT */

div#contact{
    min-height: 1024px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#contact h1{

    font-size: 64px;
    text-align: center;
}

div#contact h2{
    font-size: 24px;
    text-align: center;
    max-width: 645px;

    margin: 10px 0 40px;
}

div#contact .link-button{
    width: 200px;
    margin: 0;
}

/* */

footer{
    display: flex;
    flex-direction: row-reverse;
}