:root{
    --montserrat: 'Montserrat', sans-serif;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: var(--montserrat);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased;
    background: #1C4EB1;


}

body, a {
    color: #ffffff;
}

/* HEADER */

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu-options{
    padding-top: 50px;
    padding-right: 100px;
}

ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    font-weight: 600;
    display: block;
    padding: 0 15px;
}

a:hover{
    transition: 1s;
    color: #cccccc
}

/* CALL TO ACTION (MAIN) */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.call-to-action{
    margin: 50px;
    display: flex;
    flex-direction: column;
    /* width: 40%; */
    max-width: 635px;

    font-weight: 600;
    font-size: 36px;
    
    justify-content: center;

    margin-bottom: 50px;

    line-height: 1.5;
}

#main-ios-mockup{
}

.button {
    margin-top: 20px;

    color: #F1AA50;
    border: #F1AA50 5px solid;

    border-radius: 50px;
    border-width: 2px;

    padding: 10px;
    width: 350px;

    text-align: center;
    line-height: normal;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .call-to-action {
        font-size: 25px;
    }

    .menu-options{
        display: none;
    }

    .call-to-action .button {
        align-self: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .call-to-action .button {
        align-self: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .call-to-action {
        font-size: 36px;
    }

    .call-to-action .button {
        align-self: flex-start;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
